In [21]:
for i in range(3,12,3):
    print(i)

3
6
9

In [5]:
n=int(input())
for i in range(1,n+1,1):
    if (3*i+2)%4==0:
        continue
    print(3*i+2)

20
5
11
14
17
23
26
29
35
38
41
47
50
53
59
62

### PRIME NUMBERS AND BREAK STATEMENT

In [2]:
n=int(input())
flag=False
for i in range(2,n,1):
    if (n%i==0):
        flag=True
        break
if flag:
    print("not prime")
else:
    print("prime")

3342533243416567
not prime

In [19]:
lower = 1
upper = 100
for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [15]:
for num in range(1, 101):
    if all(num % i != 0 for i in range(2, num)):
        print(num, end=' ')

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### ISOSCELES TRIANGLE

In [21]:
n=int(input())
for i in range(1,n+1,1):
    for s in range(n-i):
        print(" ",end="")
    for j in range(i,2*i,1):
        print(j,end="")
    for d in range(2*i-2,i-1,-1):
        print(d,end="")
    print()

4
   1
  232
 34543
4567654

### SUM AND PRODUCT

In [9]:
n=int(input())
sum=0
for i in range(1,n+1,1):
    sum+=i
print(sum)

20
210

In [25]:
num1=int(input())
num2=int(input())
if num2==1:
    print(num1+num2)
elif num2==2:
    print(num1*num2)
else:
    print("None")

100
3
None

In [11]:
num1=int(input())
num2=int(input())
if num2==1:
    sum=0
    for i in range(1,num1+1,1):
        sum+=i
    print(sum)    
elif num2==2:
    prod=1
    for i in range(1,num1+1,1):
        prod*=i
    print(prod)    
else:
    print("None")

10
2
3628800

### SQUARE ROOT

In [8]:
n=int(input())
s=int(n**(1/2))
print(s)

18
4

### ELSE , BREAK AND CONTINUE, PASS STATEMENT

In [23]:
n=int(input())
for d in range(2,n,1):
    if n % d == 0:
        print('Not Prime')
        break
else:
    print('prime')

19
prime

In [31]:
n=int(input())
for i in range(1,n+1,1):
    if i%3==0:
        continue
    print(i)

20
1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [34]:
i=1 
while i<=5:
    pass
    i+=1
print('end')

end